<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hmz.ssm.dao.MessageMapper">
    <resultMap id="BaseResultMap" type="com.hmz.ssm.model.Message">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="message" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="picurl" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="date" jdbcType="DATE" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id, message, description, picurl, date
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from message
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="com.hmz.ssm.util.SeeRecord">
      select
       *
      from
      message
      limit #{page.startPos},#{page.pageSize}
        <!--startPos开始页 ， pageSize每页显示的记录条数-->
    </select>
    <select id="getCount" resultType="java.lang.Integer">
          select
          count(*)
          from
          message
    </select>
    <select id="selectMes" resultType="com.hmz.ssm.model.Message">
        SELECT
        *
        from
        message
        WHERE
        id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectColle" resultType="com.hmz.ssm.model.Message">
         SELECT
        *
        from
        message
        WHERE
        id = #{id,jdbcType=INTEGER}

    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.hmz.ssm.model.Message">
    insert into message (id, message, description, 
      picurl, date)
    values (#{id,jdbcType=INTEGER}, #{message,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{picurl,jdbcType=VARCHAR}, #{date,jdbcType=DATE})
  </insert>
    <insert id="insertSelective" parameterType="com.hmz.ssm.model.Message">
        insert into message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="message != null">
                message,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="picurl != null">
                picurl,
            </if>
            <if test="date != null">
                date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="message != null">
                #{message,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="picurl != null">
                #{picurl,jdbcType=VARCHAR},
            </if>
            <if test="date != null">
                #{date,jdbcType=DATE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hmz.ssm.model.Message">
        update message
        <set>
            <if test="message != null">
                message = #{message,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="picurl != null">
                picurl = #{picurl,jdbcType=VARCHAR},
            </if>
            <if test="date != null">
                date = #{date,jdbcType=DATE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hmz.ssm.model.Message">
    update message
    set message = #{message,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      picurl = #{picurl,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>